* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Ledger', serif;
    background-color: var(--backGroundColor);
}

a {
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
}

:root{
    --backGroundColor: #1C161E;
    --boxColor: #362C36;
    --priceTag: #463D46;
    --buttonColor: #EFE3C8;
    --footerColor: #22151F; 
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
}

