*{
    box-sizing: border-box;
    /* font-family: ESCOLHER; */
    text-decoration: none;
}
:root{
    --backGroundColor: #1C161E;
    --boxColor: #362C36;
    --priceTag: #463D46;
    --buttonColor: #EFE3C8;
    --footerColor: #22151F;
    
}
body{
    background-color: var(--backGroundColor);
}